extends layout

block content
  h1= title
  p Peace begins with smile
  button(type="button", class="btn btn-success", onClick = "moreClaps()") Press Me
  div(id = "target") Clap for me
   script.
      var clap_count = 0;
      function moreClaps(){
        clap_count = clap_count + 2;
        document.getElementById("target").innerHTML = 'Clap '+ clap_count +' times';
      }